@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
   padding:0;
   margin:0;
}

body{
   font-family: 'Open Sans', sans-serif;
   font-size:14px ;
   color:hsl(0, 0%, 100%);
   background: hsl(218, 28%, 13%);
}

a{
   text-decoration: none;
   color:hsl(0, 0%, 100%); 
   &:hover{
      background: hsl(176, 68%, 64%);
   }
}

h1{font-size: 2rem;}

ul{list-style: none;}

.container{
   box-sizing: border-box;
   overflow: hidden;
   padding:2rem;
}
// Background-color
.bg-intro{background: hsl(217, 28%, 15%);}
.bg-main{background: hsl(218, 28%, 13%);}
.bg-footer{background: hsl(216, 53%, 9%);}
.bg-testimonials{background: hsl(219, 30%, 18%)}

// Button Styles
.btn{
   width:10rem;
   text-align: center;
   background: hsl(198, 60%, 50%);
   padding:.8rem;
   border-radius: 35px;
   cursor: pointer;
   &:hover{
      background: hsl(176, 68%, 64%);
   }
}
// Logo
.logo-image{
   width:10rem;
   height: 100%;
}
// Navbar
#navbar{
   display:flex;
   justify-content: space-between;
   align-items: center;
   .logo:hover{
      background:none;
   }
   ul{
      display: flex;
      justify-content: space-evenly;
      li{
         padding:1rem;
         a:hover{
            cursor: pointer;
            text-decoration: underline;
            background:none;
         }
      }
   }
}
// Hero and Slogan Image
.illustration{
   width:100%;
   height:auto;
}

// Section Hero
#hero{
   padding: 1rem;
   text-align:center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url('../images/bg-curvy-desktop.svg');
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: bottom;

   // position: relative;
   .illustration{
      width:60%;
      margin-bottom:.5rem;
   }
   .section-title{
      margin:1rem;
   }
   p{
      line-height: 1.5rem;
      width:88%;
      margin:0 auto;
   }
   .btn{
      margin: 1rem auto;
   }

}

// Section-Items
#section-items{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap:2rem;
   .card-grid{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width:26rem;
      height:auto;
      margin:0 auto;
      padding: 1rem;
      line-height: 1.5rem;
      text-align: center;
      .card-icons{
         width:auto;
         height:5rem;
         padding:1rem 0;
      }

   }
}
// Section Slogan
#section-slogan{
   display:flex;  
   justify-content: space-evenly;
   align-items: center;

   .slogan{
      max-width: 50%;
      p{
         margin-top: 1rem;
         line-height: 1.5rem;
      }
      .txt-highlight{
         color:hsl(198, 60%, 50%);
         text-decoration: underline;
         &:hover{
            color:hsl(0, 0%, 100%);
            text-decoration: underline;
            background:none;
         }
      }
      
   }
}

// Section Testimonials
#section-testimonials{
   margin-top: 1rem;
   display: flex;
   justify-content: space-evenly;
   padding: 1rem;
   .card{
      width:15rem;
      padding:1.5rem;
      border-radius: 10px;
      box-shadow: 0px 5px 12px -4px rgba(135,135,135,0.3);
      position: relative;
      &-profile{
         display:flex;
         padding-top:1rem;
      
         .card-image{
            width:50px;
            height:50px;
            border-radius: 50%;
            margin-right: 1rem;
         }
         .card-name{
            p{font-size: 80%}
         }
      }
      .quote{
         position:absolute;
         left:-25px;
         top:-25px;
         z-index: 1;
         height:auto;
         width:auto;
         opacity: .8;
      }
      // Added a tiny animation when mouse is hovering testimonials
      &:hover{
         transform: scale(1.05);
         transition: all ease-in 500ms;
      }
   }
}
// Section Access
#section-access{
   text-align: center;
   width:70%;
   margin:0 auto;
   position:relative;
   bottom:-8rem;
   border-radius: 15px;
   border:3px solid hsl(218, 28%, 13%);
   box-shadow: 0px 5px 12px -4px rgba(135,135,135,0.3);
   padding: 3rem 5rem;
   
   .section-title{
      margin-bottom:1.5rem;
   }
   .form{
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 1.5rem;
      .txt-email{
         // margin:auto;
         height:2rem;
         border-radius: 30px;
         max-width:20rem;
         width:100%;
         padding: .4rem 1rem;
         margin-right: .5rem;
      }
      
      input:invalid{
         color:hsl(0, 100%, 63%);
      }
   }
}


// Footer Styles
#footer{
   padding-top:12rem;
   display:flex;
   flex-direction: column;

   .footer-contents{
      display:flex;
      justify-content: space-evenly;
      margin-top:1rem;
      padding: .5rem;
      
      .tile{
         display: flex;
         justify-content: center;
         width:20rem;
         padding:.5rem;
      }
      .footer-p{
         display:flex;
      }
      .footer-links{
         a:hover{
            background:none;
            text-decoration: underline;
         }
      }
      .footer-icons{
         width:20px;
         height:20px;
         margin-right:10px;
      }
      .social-icons ul{
         display: flex;
         li{
            padding:0 1rem;
            a:hover{
               color:hsl(198, 60%, 50%);
               background:none;
            }
         }
      }
   }
}

// Tablet Styles
@media (max-width:992px){
   #section-testimonials{
      flex-direction: column;
      align-items: center;
      .card{
         width:80%;
         margin:1rem 0;
      }
   }
   #hero{
      .illustration{
         width:90%;
      }
   }
   #section-access{
      width:83%;
      .form{
         flex-direction: column;
         & > *{
            margin: .5rem 0;
         }
      }
   }
   #footer{
      .footer-p:first-child{
         width:35rem;;
      }
   }
}

// Smaller Screen Styles
@media(max-width:630px){
   h1{
      font-size:1.5rem;
   }
   .container{
      padding:.5rem;
   }
   
   #navbar{
      .logo-image{
         width:100%;
         height: auto;
         padding:.5rem;
      }
   }
   #section-items{
      grid-template-columns: 1fr;
   }
   #section-slogan{
      flex-direction: column;
      .slogan{
         max-width:90%;
      }
   }
   #section-access{
      padding:1rem;
      .btn{
         max-width:20rem;
         width:100%;
      }
   }
   #footer{
      .footer-contents{
         flex-direction: column;
         .footer-links{
            justify-content: flex-start;
         }
         .tile{
            width: 100%;
         }
      }
   }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }